gitdb~=4.0.9
defusedxml~=0.7.1
cffi~=1.15.0
future~=0.18.2
Pillow~=9.1.0
ipython~=8.0.1
pip~=22.2.2
attrs~=21.4.0
toml~=0.10.2
tornado~=6.1
Jinja2~=3.1.2
keyring~=23.5.0
toolz~=0.11.2
pytz~=2022.1
rich~=12.4.4
Pygments~=2.11.2
commonmark~=0.9.1
smmap~=5.0.0
numpy~=1.22.2
setuptools~=58.1.0
parse~=1.19.0
pyinstaller~=4.10
altair~=4.2.0
pandas~=1.4.1
jsonschema~=4.6.0
entrypoints~=0.3
PyYAML~=6.0
MarkupSafe~=2.1.1
lxml~=4.8.0
matplotlib~=3.5.1
python-dateutil~=2.8.2
pyarrow~=8.0.0
pydeck~=0.7.1
ipywidgets~=7.7.0
traitlets~=5.3.0
blinker~=1.4
certifi~=2021.10.8
tzdata~=2022.1
simplejson~=3.17.6
bottle~=0.12.19
Pympler~=1.0.1
Django~=4.0.4
tzlocal~=4.2
six~=1.16.0
idna~=3.3
urllib3~=1.26.9
pyparsing~=3.0.8
click~=8.0.3
streamlit~=1.10.0
cachetools~=5.2.0
validators~=0.20.0
plotly~=5.9.0
packaging~=21.3
requests~=2.28.1
pyrsistent~=0.18.1
decorator~=5.1.1
zipp~=3.8.0
google-auth~=2.12.0
google-auth-oauthlib~=0.5.3
google-auth-httplib2~=0.1.0
google-api-python-client~=2.64.0